# Web & API
Django>=5.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt
django-environ

# Database
psycopg2-binary
pgvector

# Background Tasks (Celery & Redis)
celery
redis

# Парсинг
beautifulsoup4
requests

# Machine Learning & Embeddings
sentence-transformers
torch